src/main/webapp/WEB-INF/wsdl/Isurtestws_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://asguf.mos.ru/rkis_gu/coordinate/v5/" xmlns:ns1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://asguf.mos.ru/rkis_gu/coordinate/v5/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" schemaLocation="Isurtestws_schema1.xsd"/>

  <xs:element name="ErrorMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Error" type="tns:ErrorMessageData" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetRequestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="request" type="tns:GetRequestListInMessage" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetRequestListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetRequestListResult" type="tns:GetRequestListOutMessage" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="request" type="tns:GetRequestsInMessage" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetRequestsResult" type="tns:GetRequestsOutMessage" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Message" type="tns:CoordinateData"/>

  <xs:element name="RequestsMessage" type="tns:ArrayOfCoordinateData"/>

  <xs:element name="ServiceHeader" type="tns:Headers"/>

  <xs:element name="ServiceProperties">
    <xs:complexType>
      <xs:all>
        <xs:element name="data" type="xs:base64Binary" form="unqualified"/>
        <xs:element name="signature" type="xs:base64Binary" form="unqualified"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="StatusMessage" type="tns:CoordinateStatusData"/>

  <xs:element name="StatusesMessage" type="tns:ArrayOfSetFilesAndStatusesData"/>

  <xs:element name="TaskMessage" type="tns:CoordinateTaskData"/>

  <xs:element name="TasksMessage" type="tns:ArrayOfCoordinateTaskData"/>

  <xs:element name="acknowledgement" type="tns:acknowledgement"/>

  <xs:element name="acknowledgementResponse" type="tns:acknowledgementResponse"/>

  <xs:element name="setFilesAndStatus" type="tns:setFilesAndStatus"/>

  <xs:element name="setFilesAndStatusResponse" type="tns:setFilesAndStatusResponse"/>

  <xs:complexType name="setFilesAndStatus">
    <xs:sequence>
      <xs:element name="StatusMessage" type="tns:CoordinateStatusData" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CoordinateStatusData">
    <xs:sequence>
      <xs:element name="RequestId" type="xs:string" minOccurs="0"/>
      <xs:element name="ResponseDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="PlanDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="StatusCode" type="xs:int" nillable="true"/>
      <xs:element name="Responsible" type="tns:Person" minOccurs="0"/>
      <xs:element name="Documents" type="tns:ArrayOfServiceDocument" minOccurs="0"/>
      <xs:element name="Contacts" type="tns:ArrayOfRequestContact" minOccurs="0"/>
      <xs:element name="Note" type="xs:string" minOccurs="0"/>
      <xs:element name="Result" type="tns:RequestResult" minOccurs="0"/>
      <xs:element name="ServiceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="ReasonCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element name="LastName" type="xs:string" minOccurs="0"/>
      <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
      <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
      <xs:element name="JobTitle" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
      <xs:element name="Email" type="xs:string" minOccurs="0"/>
      <xs:element name="IsiId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfServiceDocument">
    <xs:sequence>
      <xs:element name="ServiceDocument" type="tns:ServiceDocument" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceDocument">
    <xs:sequence>
      <xs:element name="Id" type="xs:string" minOccurs="0"/>
      <xs:element name="DocCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DocSubType" type="xs:string" minOccurs="0"/>
      <xs:element name="DocPerson" type="xs:string" minOccurs="0"/>
      <xs:element name="DocSerie" type="xs:string" minOccurs="0"/>
      <xs:element name="DocNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="DocDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="ValidityPeriod" type="xs:dateTime" nillable="true"/>
      <xs:element name="WhoSign" type="xs:string" minOccurs="0"/>
      <xs:element name="ListCount" type="xs:int" nillable="true"/>
      <xs:element name="CopyCount" type="xs:int" nillable="true"/>
      <xs:element name="DivisionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="Signature" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="DocNotes" type="tns:ArrayOfNote" minOccurs="0"/>
      <xs:element name="DocFiles" type="tns:ArrayOfFile" minOccurs="0"/>
      <xs:element name="CustomAttributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:any processContents="lax" namespace="##other"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfNote">
    <xs:sequence>
      <xs:element name="Note" type="tns:Note" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Note">
    <xs:sequence>
      <xs:element name="Subject" type="xs:string" minOccurs="0"/>
      <xs:element name="Text" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfFile">
    <xs:sequence>
      <xs:element name="File" type="tns:File" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="File">
    <xs:sequence>
      <xs:element name="Id" type="xs:string" minOccurs="0"/>
      <xs:element name="FileName" type="xs:string" minOccurs="0"/>
      <xs:element name="MimeType" type="xs:string" minOccurs="0"/>
      <xs:element name="FileContent" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="IsFileInStore" type="xs:boolean" minOccurs="0"/>
      <xs:element name="FileIdInStore" type="xs:string" minOccurs="0"/>
      <xs:element name="StoreName" type="xs:string" minOccurs="0"/>
      <xs:element name="FileChecksum" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfCoordinateTaskData">
    <xs:sequence>
      <xs:element name="CoordinateTaskData" type="tns:CoordinateTaskData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CoordinateTaskData">
    <xs:sequence>
      <xs:element name="Task" type="tns:RequestTask" minOccurs="0"/>
      <xs:element name="Data" type="tns:DocumentsRequestData" minOccurs="0"/>
      <xs:element name="Signature" type="xs:anyType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequestTask">
    <xs:sequence>
      <xs:element name="RequestId" type="xs:string" minOccurs="0"/>
      <xs:element name="Code" type="xs:string" minOccurs="0"/>
      <xs:element name="Subject" type="xs:string" minOccurs="0"/>
      <xs:element name="ValidityPeriod" type="xs:dateTime" nillable="true"/>
      <xs:element name="Responsible" type="tns:Person" minOccurs="0"/>
      <xs:element name="Department" type="tns:Department" minOccurs="0"/>
      <xs:element name="ServiceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="ServiceTypeCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="Code" type="xs:string" minOccurs="0"/>
      <xs:element name="Inn" type="xs:string" minOccurs="0"/>
      <xs:element name="Ogrn" type="xs:string" minOccurs="0"/>
      <xs:element name="RegDate" type="xs:dateTime" nillable="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DocumentsRequestData">
    <xs:sequence>
      <xs:element name="DocumentTypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ParameterTypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="Parameter" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:any processContents="lax" namespace="##other"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IncludeXmlView" type="xs:boolean"/>
      <xs:element name="IncludeBinaryView" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfServiceDocumentNoFiles">
    <xs:sequence>
      <xs:element name="ServiceDocumentNoFiles" type="tns:ServiceDocumentNoFiles" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceDocumentNoFiles">
    <xs:sequence>
      <xs:element name="Id" type="xs:string" minOccurs="0"/>
      <xs:element name="DocCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DocSubType" type="xs:string" minOccurs="0"/>
      <xs:element name="DocPerson" type="xs:string" minOccurs="0"/>
      <xs:element name="DocSerie" type="xs:string" minOccurs="0"/>
      <xs:element name="DocNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="DocDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="ValidityPeriod" type="xs:dateTime" nillable="true"/>
      <xs:element name="WhoSign" type="xs:string" minOccurs="0"/>
      <xs:element name="ListCount" type="xs:int" nillable="true"/>
      <xs:element name="CopyCount" type="xs:int" nillable="true"/>
      <xs:element name="DivisionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="Signature" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="CustomAttributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:any processContents="lax" namespace="##other"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceNumberStatusesOnly">
    <xs:sequence>
      <xs:element name="ServiceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="StatusesOnly" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetRequestListInMessage">
    <xs:complexContent>
      <xs:extension base="tns:MessageBase">
        <xs:sequence>
          <xs:element name="FromDate" type="xs:dateTime"/>
          <xs:element name="ToDate" type="xs:dateTime"/>
          <xs:element name="ServiceCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MessageBase" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="GetRequestsOutMessage">
    <xs:complexContent>
      <xs:extension base="tns:MessageBase">
        <xs:sequence>
          <xs:element name="Requests" type="tns:ArrayOfRequestInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfRequestInfo">
    <xs:sequence>
      <xs:element name="Request" type="tns:RequestInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequestInfo">
    <xs:sequence>
      <xs:element name="Declarant" type="tns:BaseDeclarant" minOccurs="0"/>
      <xs:element name="Trustee" type="tns:RequestContact" minOccurs="0"/>
      <xs:element name="Service" type="tns:RequestServiceNoFiles" minOccurs="0"/>
      <xs:element name="Statuses" type="tns:RequestStatus" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Tasks" type="tns:RequestQueryTask" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CustomAttributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:any processContents="lax" namespace="##other"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Contacts" type="tns:RequestContact" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Signature" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BaseDeclarant" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="RequestContact">
    <xs:complexContent>
      <xs:extension base="tns:BaseDeclarant">
        <xs:sequence>
          <xs:element name="Id" type="xs:string" minOccurs="0"/>
          <xs:element name="LastName" type="xs:string" minOccurs="0"/>
          <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
          <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
          <xs:element name="Gender" type="tns:GenderType" nillable="true"/>
          <xs:element name="BirthDate" type="xs:dateTime" nillable="true"/>
          <xs:element name="Snils" type="xs:string" minOccurs="0"/>
          <xs:element name="Inn" type="xs:string" minOccurs="0"/>
          <xs:element name="RegAddress" type="tns:Address" minOccurs="0"/>
          <xs:element name="FactAddress" type="tns:Address" minOccurs="0"/>
          <xs:element name="MobilePhone" type="xs:string" minOccurs="0"/>
          <xs:element name="WorkPhone" type="xs:string" minOccurs="0"/>
          <xs:element name="HomePhone" type="xs:string" minOccurs="0"/>
          <xs:element name="EMail" type="xs:string" minOccurs="0"/>
          <xs:element name="Nation" type="xs:string" minOccurs="0"/>
          <xs:element name="Citizenship" type="xs:string" minOccurs="0"/>
          <xs:element name="CitizenshipType" type="tns:CitizenshipType" nillable="true"/>
          <xs:element name="BirthAddress" type="tns:Address" minOccurs="0"/>
          <xs:element name="JobTitle" type="xs:string" minOccurs="0"/>
          <xs:element name="OMSNum" type="xs:string" minOccurs="0"/>
          <xs:element name="OMSDate" type="xs:dateTime" nillable="true"/>
          <xs:element name="OMSCompany" type="xs:string" minOccurs="0"/>
          <xs:element name="OMSValidityPeriod" type="xs:dateTime" nillable="true"/>
          <xs:element name="IsiId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="Country" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="Locality" type="xs:string" minOccurs="0"/>
      <xs:element name="Region" type="xs:string" minOccurs="0"/>
      <xs:element name="City" type="xs:string" minOccurs="0"/>
      <xs:element name="Town" type="xs:string" minOccurs="0"/>
      <xs:element name="Street" type="xs:string" minOccurs="0"/>
      <xs:element name="House" type="xs:string" minOccurs="0"/>
      <xs:element name="Building" type="xs:string" minOccurs="0"/>
      <xs:element name="Structure" type="xs:string" minOccurs="0"/>
      <xs:element name="Facility" type="xs:string" minOccurs="0"/>
      <xs:element name="Ownership" type="xs:string" minOccurs="0"/>
      <xs:element name="Flat" type="xs:string" minOccurs="0"/>
      <xs:element name="POBox" type="xs:string" minOccurs="0"/>
      <xs:element name="Okato" type="xs:string" minOccurs="0"/>
      <xs:element name="KladrCode" type="xs:string" minOccurs="0"/>
      <xs:element name="KladrStreetCode" type="xs:string" minOccurs="0"/>
      <xs:element name="OMKDistrictCode" type="xs:string" minOccurs="0"/>
      <xs:element name="OMKRegionCode" type="xs:string" minOccurs="0"/>
      <xs:element name="OMKTownCode" type="xs:string" minOccurs="0"/>
      <xs:element name="OMKStreetCode" type="xs:string" minOccurs="0"/>
      <xs:element name="BTIStreetCode" type="xs:string" minOccurs="0"/>
      <xs:element name="BTIBuildingCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequestAccount">
    <xs:complexContent>
      <xs:extension base="tns:BaseDeclarant">
        <xs:sequence>
          <xs:element name="FullName" type="xs:string" minOccurs="0"/>
          <xs:element name="Name" type="xs:string" minOccurs="0"/>
          <xs:element name="BrandName" type="xs:string" minOccurs="0"/>
          <xs:element name="Ogrn" type="xs:string" minOccurs="0"/>
          <xs:element name="OgrnAuthority" type="xs:string" minOccurs="0"/>
          <xs:element name="OgrnNum" type="xs:string" minOccurs="0"/>
          <xs:element name="OgrnDate" type="xs:dateTime" nillable="true"/>
          <xs:element name="Inn" type="xs:string" minOccurs="0"/>
          <xs:element name="InnAuthority" type="xs:string" minOccurs="0"/>
          <xs:element name="InnNum" type="xs:string" minOccurs="0"/>
          <xs:element name="InnDate" type="xs:dateTime" nillable="true"/>
          <xs:element name="Kpp" type="xs:string" minOccurs="0"/>
          <xs:element name="Okpo" type="xs:string" minOccurs="0"/>
          <xs:element name="OrgFormCode" type="xs:string" minOccurs="0"/>
          <xs:element name="PostalAddress" type="tns:Address" minOccurs="0"/>
          <xs:element name="FactAddress" type="tns:Address" minOccurs="0"/>
          <xs:element name="OrgHead" type="tns:RequestContact" minOccurs="0"/>
          <xs:element name="Okved" type="xs:string" minOccurs="0"/>
          <xs:element name="Okfs" type="xs:string" minOccurs="0"/>
          <xs:element name="BankName" type="xs:string" minOccurs="0"/>
          <xs:element name="BankBik" type="xs:string" minOccurs="0"/>
          <xs:element name="CorrAccount" type="xs:string" minOccurs="0"/>
          <xs:element name="SetAccount" type="xs:string" minOccurs="0"/>
          <xs:element name="Phone" type="xs:string" minOccurs="0"/>
          <xs:element name="Fax" type="xs:string" minOccurs="0"/>
          <xs:element name="EMail" type="xs:string" minOccurs="0"/>
          <xs:element name="WebSite" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RequestServiceNoFiles">
    <xs:sequence>
      <xs:element name="RegNum" type="xs:string" minOccurs="0"/>
      <xs:element name="RegDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="ServiceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="ServiceTypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ServicePrice" type="xs:decimal" nillable="true"/>
      <xs:element name="PrepareTargetDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="OutputTargetDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="Copies" type="xs:int" nillable="true"/>
      <xs:element name="Responsible" type="tns:Person" minOccurs="0"/>
      <xs:element name="Department" type="tns:Department" minOccurs="0"/>
      <xs:element name="Documents" type="tns:ArrayOfServiceDocumentNoFiles" minOccurs="0"/>
      <xs:element name="DeclineReasonCodes" type="tns:ArrayOfString" minOccurs="0"/>
      <xs:element name="CreatedByDepartment" type="tns:Department" minOccurs="0"/>
      <xs:element name="PrepareFactDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="OutputFactDate" type="xs:dateTime" nillable="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element name="string" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequestStatus">
    <xs:sequence>
      <xs:element name="StatusCode" type="xs:int"/>
      <xs:element name="StatusDate" type="xs:dateTime"/>
      <xs:element name="Reason" type="xs:string" minOccurs="0"/>
      <xs:element name="ValidityPeriod" type="xs:dateTime" nillable="true"/>
      <xs:element name="Responsible" type="tns:Person" minOccurs="0"/>
      <xs:element name="Department" type="tns:Department" minOccurs="0"/>
      <xs:element name="ReasonCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequestQueryTask">
    <xs:sequence>
      <xs:element name="RequestId" type="xs:string" minOccurs="0"/>
      <xs:element name="Subject" type="xs:string" minOccurs="0"/>
      <xs:element name="ValidityPeriod" type="xs:dateTime" nillable="true"/>
      <xs:element name="StatusCode" type="xs:int"/>
      <xs:element name="Responsible" type="tns:Person" minOccurs="0"/>
      <xs:element name="Department" type="tns:Department" minOccurs="0"/>
      <xs:element name="DocCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetRequestsInMessage">
    <xs:complexContent>
      <xs:extension base="tns:MessageBase">
        <xs:sequence>
          <xs:element name="FromDate" type="xs:dateTime"/>
          <xs:element name="ToDate" type="xs:dateTime"/>
          <xs:element name="ServiceCode" type="xs:string" minOccurs="0"/>
          <xs:element name="ServiceNumbers" type="tns:ArrayOfServiceNumberStatusesOnly" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfServiceNumberStatusesOnly">
    <xs:sequence>
      <xs:element name="ServiceNumberStatusesOnly" type="tns:ServiceNumberStatusesOnly" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetRequestListOutMessage">
    <xs:complexContent>
      <xs:extension base="tns:MessageBase">
        <xs:sequence>
          <xs:element name="Requests" type="tns:ArrayOfSmallRequestInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfSmallRequestInfo">
    <xs:sequence>
      <xs:element name="Request" type="tns:SmallRequestInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SmallRequestInfo">
    <xs:sequence>
      <xs:element name="CreatedDate" type="xs:dateTime"/>
      <xs:element name="ServiceCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ServiceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="StatusCode" type="xs:int"/>
      <xs:element name="StatusDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SetFilesAndStatusesData">
    <xs:sequence>
      <xs:element name="ServiceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="RequestId" type="xs:string" minOccurs="0"/>
      <xs:element name="Statuses" type="tns:ArrayOfRequestStatus" minOccurs="0"/>
      <xs:element name="Result" type="tns:RequestResult" minOccurs="0"/>
      <xs:element name="Documents" type="tns:ArrayOfServiceDocument" minOccurs="0"/>
      <xs:element name="Contacts" type="tns:ArrayOfRequestContact" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfRequestStatus">
    <xs:sequence>
      <xs:element name="RequestStatus" type="tns:RequestStatus" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequestResult">
    <xs:sequence>
      <xs:element name="ResultCode" type="xs:string" minOccurs="0"/>
      <xs:element name="DeclineReasonCode" type="tns:ArrayOfString" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfRequestContact">
    <xs:sequence>
      <xs:element name="RequestContact" type="tns:RequestContact" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfSetFilesAndStatusesData">
    <xs:sequence>
      <xs:element name="SetFilesAndStatusesData" type="tns:SetFilesAndStatusesData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CoordinateData">
    <xs:sequence>
      <xs:element name="Declarant" type="tns:BaseDeclarant" minOccurs="0"/>
      <xs:element name="Trustee" type="tns:RequestContact" minOccurs="0"/>
      <xs:element name="Service" type="tns:RequestService" minOccurs="0"/>
      <xs:element name="CustomAttributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:any processContents="lax" namespace="##other"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Contacts" type="tns:ArrayOfRequestContact" minOccurs="0"/>
      <xs:element name="Signature" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequestService">
    <xs:sequence>
      <xs:element name="RegNum" type="xs:string" minOccurs="0"/>
      <xs:element name="RegDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="ServiceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="ServiceTypeCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ServicePrice" type="xs:decimal" nillable="true"/>
      <xs:element name="PrepareTargetDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="OutputTargetDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="Copies" type="xs:int" nillable="true"/>
      <xs:element name="Responsible" type="tns:Person" minOccurs="0"/>
      <xs:element name="Department" type="tns:Department" minOccurs="0"/>
      <xs:element name="Documents" type="tns:ArrayOfServiceDocument" minOccurs="0"/>
      <xs:element name="DeclineReasonCodes" type="tns:ArrayOfString" minOccurs="0"/>
      <xs:element name="CreatedByDepartment" type="tns:Department" minOccurs="0"/>
      <xs:element name="PrepareFactDate" type="xs:dateTime" nillable="true"/>
      <xs:element name="OutputFactDate" type="xs:dateTime" nillable="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfCoordinateData">
    <xs:sequence>
      <xs:element name="CoordinateData" type="tns:CoordinateData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Headers">
    <xs:sequence>
      <xs:element name="FromOrgCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ToOrgCode" type="xs:string" minOccurs="0"/>
      <xs:element name="MessageId" type="xs:string" minOccurs="0"/>
      <xs:element name="RelatesTo" type="xs:string" minOccurs="0"/>
      <xs:element name="ServiceNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="RequestDateTime" type="xs:dateTime"/>
    </xs:sequence>
    <xs:attribute ref="ns1:Id"/>
  </xs:complexType>

  <xs:complexType name="ErrorMessageData">
    <xs:sequence>
      <xs:element name="ErrorCode" type="xs:string" minOccurs="0"/>
      <xs:element name="ErrorText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setFilesAndStatusResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="acknowledgement">
    <xs:sequence>
      <xs:element ref="tns:ErrorMessage" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="acknowledgementResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:simpleType name="GenderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male"/>
      <xs:enumeration value="Female"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CitizenshipType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RF"/>
      <xs:enumeration value="Foreign"/>
      <xs:enumeration value="None"/>
      <xs:enumeration value="Both"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

